---
layout: gallery
title: Photo Gallery
---
<div class="row">
	<div class="col-sm-10 col-sm-offset-2">
		<p>
		Photos taken last year at Thunder in the Mountains 2014, by <a href="http://pearlnoirimages.com">Pearl Noir Images</a>
		</p>
	</div>
</div>

<div id="gallery" class="row">
	<div class="col-sm-2">





<!-- 
<ul>
{% for member in site.data.members %}
  <li>
    <a href="https://github.com/{{ member.github }}">
      {{ member.name }}
    </a>
  </li>
{% endfor %}
</ul>
 -->






	</div>

	<div class="col-sm-2">


<ul>
{% for image in site.data.gallery %}
	<li>
		({{ image.file}} file)
	</li>
{% endfor %}
</ul>






	</div>

	<div class="col-sm-2">
	</div>

	<div class="col-sm-2">
	</div>

	<div class="col-sm-2">
	</div>

	<div class="col-sm-2">
	</div>
</div>
