---
layout: gallery
title: Photo Gallery
---
<div class="row">
	<div class="col-sm-10 col-sm-offset-2">
		<p>
		Photos taken last year at Thunder in the Mountains 2014, by <a href="http://pearlnoirimages.com">Pearl Noir Images</a>
		</p>
	</div>
</div>

<div id="gallery" class="row">
{% for gallery in site.data.gallery %}
	{% if gallery.files != null %}
		<div class="col-sm-2">
		{% for file in gallery.files %}
		<div class="border">
		<img src="/public/img/gallery/{{ gallery.col }}/{{ file.name }}" alt="" class="img-responsive img-thumbnail" />
		</div>
		{% endfor %}
		</div>
	{% endif %}
{% endfor %}
</div>
