---
layout: default
title: Presenters
---

<!-- 
<div id="presenters">
	<div class="container information">
		<div class="row">
			<div class="col-md-offset-2 col-md-10">
				<h1>{{ page.title }}</h1>
				<p>
				Coming soon!
				</p>
			</div>
		</div>
	</div>
</div>
 -->




<div id="presenters">
	<div class="container information">
		<div class="row">
			<div class="col-md-offset-2 col-md-10">
				<h1>{{ page.title }}</h1>
				<p>
				Thunder in the Mountains is proud to present a fantastic lineup of presenters for 2015
				</p>
			</div>
		</div>
	{% for presenter in site.data.presenters %}
		<a name="{{ presenter.name | slugify }}" class="anchor"></a>
		<div class="row">
			<div class="col-md-2">
				{% if presenter.image1 %}
				<div class="border">
					<a href="#" data-toggle="modal" data-target="#imageModal{{ forloop.index }}_1"><img class="img-responsive img-thumbnail" alt="{{ presenter.name }}" src="/public/img/presenters/{{ presenter.image1 }}"></a>
				</div>
				<div class="modal fade" id="imageModal{{ forloop.index }}_1" tabindex="-1" role="dialog" aria-labelledby="imageModal{{ forloop.index }}_1_Label" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-body">
								<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button> 
								<img src="/public/img/presenters/{{ presenter.image1 }}" alt="{{ presenter.name }}" class="img-responsive" />
							</div>
						</div>
					</div>
				</div>
				{% endif %}
			</div>
			<div class="col-md-8">
				<h2>{{ presenter.name }}</h2>
				{% if presenter.linkurl && presenter.linkname %}
				<h3>Website: <a href="{{ presenter.linkurl }}" target="_blank">{{ presenter.linkname }}</a></h3>
				{% endif %}

				<p>{{ presenter.title }}</p>
				<p>
				{{ presenter.bio }}
				</p>
				<hr/>

				{% assign classes = site.data.schedule | where: "name", presenter.name %}
				{% for class in classes %}
					<h3>{{ class.title }}</h3>
					<p>
					{{ class.description }}
					</p>
				{% endfor %}
			</div>
			<div class="col-md-2 hidden-sm hidden-xs">
				{% if presenter.image2 %}
				<div class="border">
					<a href="#" data-toggle="modal" data-target="#imageModal{{ forloop.index }}_2"><img class="img-responsive img-thumbnail" alt="{{ presenter.name }}" src="/public/img/presenters/{{ presenter.image2 }}"></a>
				</div>
				<div class="modal fade" id="imageModal{{ forloop.index }}_2" tabindex="-1" role="dialog" aria-labelledby="imageModal{{ forloop.index }}_1_Label" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-body">
								<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button> 
								<img src="/public/img/presenters/{{ presenter.image2 }}" alt="{{ presenter.name }}" class="img-responsive" />
							</div>
						</div>
					</div>
				</div>
				{% endif %}
			</div>
		</div>
		<hr/>
	{% endfor %}
	</div>
</div>


