---
title: Thunder in the Mountains
---
<!DOCTYPE html>
<html lang="en">
<head>
	{% include head.html %}
	{% include js.html %}
</head>

<body>
	<div id="warning" class="clearfix">
		<p>
		This site contains material that is not suitable to all people. If you are not of legal age or if you find alternate sexual lifestyles offensive, please leave now.
		</p>
		<div>
			<a href="/" title="Enter"></a>
			<a href="//disney.com" title="Exit"></a>
		</div>
		<img alt="" src="public/img/enter_button_on.jpg" />
		<img alt="" src="public/img/exit_button_on.jpg" />
	</div>

</body>
</html>

