<div id="mainCarousel" class="carousel slide" data-ride="carousel">
	<ol class="carousel-indicators">
	{% for i in (1..page.slide_number) %}
		<li data-target="#mainCarousel" data-slide-to="{{ i | minus:1 }}" class="{% if i == 1 %}active{% endif %}"></li>
	{% endfor %}
	</ol>
	<div class="carousel-inner">
	{% for i in (1..page.slide_number) %}
		{% capture title %}slide{{ i }}_title{% endcapture %}
		{% capture image %}slide{{ i }}_image{% endcapture %}
		{% capture caption %}slide{{ i }}_caption{% endcapture %}
		{% capture button_text %}slide{{ i }}_button_text{% endcapture %}
		{% capture button_link %}slide{{ i }}_button_link{% endcapture %}
		<div class="item {% if i == 1 %}active{% endif %}">
			<img src="/public/img/{{ page[image] }}" alt="{{ page[title] }}" />
			<div class="container">
				<div class="carousel-caption">
					<h1>{{ page[title] }}</h1>
					<p>{{ page[caption] }}</p>
					{% if page[button_link] != '' %}
					<a class="btn btn-lg btn-danger" href="{{ page[button_link] }}" role="button">{{ page[button_text] }}</a>
					{% endif %}
				</div>
			</div>
		</div>
	{% endfor %}
	</div>
	<a class="left carousel-control" href="#mainCarousel" role="button" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control" href="#mainCarousel" role="button" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a> 
</div>