<div id="mainCarousel" class="carousel slide" data-ride="carousel">
<!-- Indicators -->
	<ol class="carousel-indicators">
		<li data-target="#mainCarousel" data-slide-to="0" class="active"></li>
		<li data-target="#mainCarousel" data-slide-to="1"></li>
		<li data-target="#mainCarousel" data-slide-to="2"></li>
		<li data-target="#mainCarousel" data-slide-to="3"></li>
		<li data-target="#mainCarousel" data-slide-to="4"></li>
	</ol>
	<div class="carousel-inner">
		<div class="item active">
			<img src="/public/img/{{ page.slide1_image }}" alt="Presenters"> 
			<div class="container">
				<div class="carousel-caption">
					<h1>{{ page.slide1_title }}</h1>
					<p>{{ page.slide1_caption }}</p>
					<a class="btn btn-lg btn-danger" href="{{ page.slide1_button_link }}" role="button">{{ page.slide1_button_text }}</a>
				</div>
			</div>
		</div>
		<div class="item">
			<img src="/public/img/slide_vendors.jpg" alt="Vendors"> 
			<div class="container">
				<div class="carousel-caption">
					<h1>Vendors</h1>
					<p>
					Vendors are accepted on an invitation basis
					</p>
					<a class="btn btn-lg btn-danger" href="#" role="button">Vendor List</a>
				</div>
			</div>
		</div>
		<div class="item">
			<img src="/public/img/slide_dungeon.jpg" alt="Dungeon"> 
			<div class="container">
				<div class="carousel-caption">
					<h1>Dungeon</h1>
					<p>
					40,000 sq. ft. dungeon, and puppy mosh pit and pony track
					</p>
					<a class="btn btn-lg btn-danger" href="#" role="button">Dungeon Rules</a>
				</div>
			</div>
		</div>
		<div class="item">
			<img src="/public/img/slide_bootblacks.jpg" alt="Bootblacks"> 
			<div class="container">
				<div class="carousel-caption">
					<h1>Bootblacking</h1>
					<p>
					Award winning bootblacks happily care for your leather
					</p>
				</div>
			</div>
		</div>
		<div class="item">
			<img src="/public/img/slide_volunteers.jpg" alt="Volunteers"> 
			<div class="container">
				<div class="carousel-caption">
					<h1>Volunteers</h1>
					<p>
					The success of Thunder in the Mountains is due to many volunteer members
					</p>
					<a class="btn btn-lg btn-danger" href="#" role="button">Volunteer</a>
				</div>
			</div>
		</div>
	</div>
	<a class="left carousel-control" href="#mainCarousel" role="button" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control" href="#mainCarousel" role="button" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a> 
</div>