<div class="navbar-wrapper">
	<div class="container">
		<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="{{ site.baseurl }}"><img id="logo" alt="" src="/public/img/Thunder_Logo_2016.gif"></a>
				</div>
				<div class="navbar-collapse navbar-collapse1 collapse">
					<ul class="nav navbar-nav navbar-left">
						<li class="{% if page.title == 'Thunder in the Mountains' %}active{% endif %}"><a href="/">Home</a></li>
						<li class="dropdown{% if page.title == 'Registration' or page.title == 'Additional Order' or page.title == 'Vendor Registration' or page.title == 'Volunteer Registration' %} active{% endif %}"> <a href="#" class="dropdown-toggle" data-toggle="dropdown">Registration <span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							<li><a href="https://www.regonline.com/thunderinthemountains2017" target="_blank">Register</a></li>
							<!--<li><a href="registration_member.html" target="_blank">Register</a></li>-->
							<li class="divider"></li>
							<li><a href="https://www.regonline.com/vendorapplication2016" target="_blank">Vendor Registration</a></li>
							<li><a href="https://www.regonline.com/volunteerapplication2016" target="_blank">Volunteer Registration</a></li>
                            <li><a href="https://www.regonline.com/BootblackApp2016" target="_blank">Bootblack Application</a></li>
							<li class="divider"></li>
<!--                            <li><a href="talentshow.html" target="_blank">Talent Show Information</a></li>
							<li><a href="https://www.regonline.com/ThunderTalent2016" target="_blank">Talent Show Registration</a></li>
							<li class="divider"></li>-->
							<li><a href="https://www.regonline.com/evaluations2016" target="_blank">Evaluations</a></li>
							<li class="divider"></li>
							<li><a href="after_thunder.html" >After Thunder</a></li>
							<li class="divider"></li>
							<li><a href="refunds.html" >Refunds/Cancellations</a></li>
							<li class="divider"></li>
							<li><a href="dungeonrules.html" >Dungeon Rules</a></li>
						</ul>
						</li>
						<li class="{% if page.title == 'Presenters' %}active{% endif %}"><a href="/presenters.html">Presenters</a></li>
						<li class="{% if page.title == 'Schedule' %}active{% endif %}"><a href="/schedule.html">Schedule</a></li>
						<li class="{% if page.title == 'Hotel Information' %}active{% endif %}"><a href="/hotel.html">Hotel</a></li>
						<li class="dropdown{% if page.title == 'Hotel Vendor Forms' or page.title == 'Vendor Links' %} active{% endif %}"> <a href="#" class="dropdown-toggle" data-toggle="dropdown">Vendors <span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							<li><a href="vendor_links.html">Vendor Links</a></li>
							<li class="divider"></li>
							<li><a href="https://www.regonline.com/vendorapplication2016" target="_blank">Vendor Application</a></li>
<!--
							<li><a href="https://www.regonline.com/vendorregistration2015" target="_blank">Approved Vendors Registration</a></li>
 -->
							<li class="dropdown-header"></li>
							<li><a href="hotel_forms.html">Hotel Forms</a></li>
						</ul>
						</li>
						<li class="{% if page.title == 'Photo Gallery' %}active{% endif %}"><a href="photos2015.html">Photo Gallery</a></li>
						<li class="{% if page.title == 'Dungeon' %}active{% endif %}"><a href="dungeon.html">Dungeon</a></li>
					</ul>
<!--
					<ul class="nav navbar-nav navbar-right">
						<li><a id="facebook" href="http://www.facebook.com/ThunderintheMountains" class="highlight"><img alt="Facebook" title="Facebook" src="/public/img/facebook.png"></a></li>
					</ul>
 -->
				</div>
			</div>
		</div>
	</div>
</div>

