<div class="navbar-wrapper">
	<div class="container">
		<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="{{ site.baseurl }}"><img id="logo" alt="" src="/public/img/thunder_logo_2014.png"></a>
				</div>
				<div class="navbar-collapse navbar-collapse1 collapse">
					<ul class="nav navbar-nav navbar-left">
						<li class="active"><a href="#">Home</a></li>
						<li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown">Registration <span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							<li><a href="#">Register</a></li>
							<li><a href="#">Merchandise Order (not for registering)</a></li>
							<li class="divider"></li>
							<li><a href="#">Vendor Registration</a></li>
							<li><a href="#">Volunteer Registration</a></li>
						</ul>
						</li>
						<li><a href="#">Presenters</a></li>
						<li><a href="#">Schedule</a></li>
						<li><a href="#">Hotel</a></li>
						<li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown">Vendors <span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							<li><a href="#">Vendor Registration</a></li>
							<li><a href="#">Vendor Links</a></li>
							<li class="divider"></li>
							<li class="dropdown-header">Hotel Form</li>
							<li><a href="#">All Forms</a></li>
							<li><a href="#">Credit Card Auth.</a></li>
							<li><a href="#">Electrical</a></li>
							<li><a href="#">Phone</a></li>
							<li><a href="#">Miscellaneous</a></li>
						</ul>
						</li>
						<li><a href="#">Volunteers</a></li>
						<li><a href="#">Dungeon Rules</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li><a id="facebook" href="http://www.facebook.com/ThunderintheMountains"><img alt="Facebook" title="Facebook" src="/public/img/facebook.png"></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
